@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #060c0b;
    --foreground: #fff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}

:root {
  --background: #060c0b;
  --foreground: #fff;
  --bg-deep-grey: #181818;
  --mind-brand: #00ffb1;
  --mind-grey: #878c8b;
  --mind-red: #ff7853;
  --layout-md: 30px;
  --layout-sm: 15px;
  --btn-bg: linear-gradient(237deg, #0f201d 0%, #060c0b 100.23%);
  --btn-bg-green: linear-gradient(270deg, #74fab7 0%, #69e9ee 100%);
  --blue-gradient: linear-gradient(180deg, #0061c3 0%, #1a1a32 100%);
  --yellow-gradient: linear-gradient(180deg, #ff8f00 0%, #1a1a32 100%);
  --btn-border: #28a57f;
  --border-width: 0.75px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.wallet-btn {
  border-radius: 150px;
  border: 1px solid #f5f7fa;
  background-color: var(--btn-bg);
  padding: 3px 12px;
  font-size: 14px;
}
/* font brand; border brand */
.button-brand-border.ant-btn-variant-solid {
  background: var(--btn-bg);
  box-shadow: none;
  color: var(--mind-brand);
  font-weight: 600;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid var(--mind-brand);
  width: 100%;
}
/* font white; border white */
.button-white-border-white-font.ant-btn-variant-solid {
  background: var(--btn-bg);
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 100%;
}
/* font white; border brand */
.button-brand-border-white-font.ant-btn-variant-solid {
  background: var(--btn-bg);
  box-shadow: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid var(--mind-brand);
  width: 100%;
}
.button-brand-border.ant-btn-variant-solid:disabled,
.button-white-border-white-font.ant-btn-variant-solid:disabled,
.button-brand-border-white-font.ant-btn-variant-solid:disabled {
  color: var(--mind-grey);
}

.button-brand-border-white-font.ant-btn-variant-solid:hover,
.button-white-border-white-font.ant-btn-variant-solid:hover,
.button-brand-border.ant-btn-variant-solid:hover {
  background: var(--btn-bg) !important;
}

.btn-Link-brand-font,
.btn-Link-white-font {
  display: block;
  width: 100%;
  background: var(--btn-bg);
  border: 1px var(--mind-brand) solid;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  padding: 4px 15px;
  font-size: 12px;
  min-height: 30px;
}

.btn-Link-brand-font:hover,
.btn-Link-white-font:hover {
  color: #fff;
}

.grent-btn-link {
  display: inline-block;
  background: var(--btn-bg-green);
  border: 1px var(--mind-brand) solid;
  color: black;
  border-radius: 3px;
  text-align: center;
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 600;
  min-height: 30px;
}
.grent-btn-link:hover {
  color: black;
}

.mind-menu .ant-menu-dark {
  color: var(--foreground);
  background: transparent;
}

.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover,
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark > .ant-menu .ant-menu-item-selected {
  color: var(--mind-brand) !important;
  background-color: transparent !important;
}

.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.mind-menu
  .ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected:hover {
  background-color: transparent;
}

.ant-menu-dark.ant-menu-submenu-popup > .ant-menu {
  background-color: #0c1312 !important;
}

.mind-input .ant-input-outlined,
.mind-input .ant-input-outlined:hover,
.mind-input .ant-input-outlined:focus,
.mind-input .ant-input-outlined:focus-within {
  background: var(--bg-deep-grey);
  border: var(--border-width) solid var(--btn-border);
  border-radius: 10px;
  color: var(--mind-brand);
}
.mind-input .ant-input-disabled.ant-input-outlined:hover {
  border: var(--border-width) solid var(--mind-grey);
}

.mind-input .ant-input-outlined::placeholder {
  color: var(--mind-grey);
}

input:focus {
  outline: 2px solid var(--btn-border);
  border-radius: 5px;
}

.text-light-shadow {
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0, 255, 177, 0.6);
}

.mind-table
  .ant-table-wrapper
  .ant-table-tbody
  > tr.ant-table-placeholder:hover
  > th,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder:hover > td,
.ant-table-wrapper .ant-table-tbody > tr.ant-table-placeholder {
  background: transparent !important;
}

.mind-table .ant-empty-normal .ant-empty-description {
  color: #fff;
}
.mind-table .ant-empty-description {
  font-size: 14px;
}

.mind-table .ant-table-wrapper .ant-table {
  background: transparent;
}

.mind-table .ant-table-wrapper .ant-table-thead > tr > th {
  background: #0b1110;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #053c2b4d;
  border-top: 1px solid #053c2b4d;
}
.mind-table .ant-table-wrapper .ant-table-cell-fix-left,
.mind-table .ant-table-wrapper .ant-table-cell-fix-right {
  background: #070c0b;
}
.mind-table .ant-table-wrapper .ant-table-cell {
  padding: 20px 16px;
  color: white;
  font-weight: 700;
}
.mind-table.pool-table .ant-table-wrapper .ant-table-cell {
  padding: 20px 16px;
  font-size: 16px !important;
}
.mind-table .ant-table-wrapper .ant-table-tbody > tr > td {
  border-bottom: 0.5px solid #d9d9d9;
}

.mind-table
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row
  > .ant-table-cell-row-hover {
  background: #194536;
}
.mind-table.pool-table
  .ant-table-wrapper
  .ant-table-tbody
  .ant-table-row
  > .ant-table-cell-row-hover {
  background: unset;
}

.mind-table
  .ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}
.mind-table
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-end-start-radius: 10px;
  border-left: 1px solid #053c2b4d;
}
.mind-table
  .ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:last-child {
  border-end-end-radius: 10px;
  border-right: 1px solid #053c2b4d;
}

.mind-table .ant-table-wrapper .ant-table-filter-trigger:hover,
.mind-table .ant-table-wrapper .ant-table-filter-trigger {
  color: white;
}

.mind-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  align-items: center;
}
.mind-collapse.mind-vote-collapse.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  margin-top: 20px;
}

.mind-collapse .ant-collapse-borderless > .ant-collapse-item {
  border-bottom: none;
}
.mind-collapse.ant-collapse > .ant-collapse-item {
  border-bottom: none;
}

.mind-collapse .ant-collapse-expand-icon svg {
  fill: #fff;
}

.blue-gradient {
  background: var(--blue-gradient);
}
.yellow-gradient {
  background: var(--yellow-gradient);
}

#launchTitle {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  z-index: 10;
}
#launchContent1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
}
#launchContent2 {
  font-size: 12px;
}
#launchContent3 {
  font-size: 14px;
  margin-top: 20px;
}
#launchContent4 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
}
#launchContent5 {
  font-size: 14px;
  margin-top: 10px;
}
#launchContent6 {
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 50px;
}
#launchContent7 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 140%;
}
#yellow-circle,
#blue-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  background: var(--blue-gradient);
}
#yellow-circle {
  background: var(--yellow-gradient);
}

@media screen and (min-width: 640px) {
  #launchTitle {
    font-size: 40px;
  }
  #launchContent1 {
    font-size: 26px;
  }
  #launchContent3 {
    font-size: 16px;
  }
  #launchContent4 {
    font-size: 20px;
  }
  #launchContent5 {
    font-size: 16px;
  }
  #launchContent6 {
    font-size: 20px;
  }
  #launchContent7 {
    font-size: 16px;
  }
}

.hidden-style {
  display: hidden;
  opacity: 0;
}

.visible-style {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in; /* 过渡效果 */
}
