@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #060c0b;
    --foreground: #fff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}

:root {
  --background: #060c0b;
  --foreground: #fff;
  --mind-brand: #00ffb1;
  --mind-grey: #878c8b;
  --mind-red: #ff7853;
  --layout-md: 30px;
  --layout-sm: 15px;
  --btn-bg: linear-gradient(237deg, #0f201d 0%, #060c0b 100.23%);
  --btn-border: #28a57f;
  --border-width: 0.75px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.button-white-border {
  border-radius: 150px;
  border: 1px solid #f5f7fa;
  background-color: var(--btn-bg);
  padding: 3px 12px;
  font-size: 14px;
}
.button-brand-border {
  background: var(--btn-bg) !important;
  box-shadow: none !important;
  color: var(--mind-brand) !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  border-radius: 20px !important;
  border: 1px solid var(--mind-brand) !important;
  width: 100%;
}

.button-brand-border-white-font {
  background: var(--btn-bg) !important;
  box-shadow: none !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  border-radius: 20px !important;
  border: 1px solid var(--mind-brand) !important;
  width: 100%;
}

.btn-Link {
  display: block;
  width: 100%;
  background: var(--btn-bg);
  border: 1px var(--mind-brand) solid;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  padding: 4px 15px;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  min-height: 30px;
}
.btn-Link:hover {
  color: #fff;
}

.mind-menu .ant-menu-dark {
  color: var(--foreground);
  background: transparent;
}

.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover,
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark > .ant-menu .ant-menu-item-selected {
  color: var(--mind-brand) !important;
  background-color: transparent !important;
}

.mind-menu .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.mind-menu
  .ant-menu-dark.ant-menu-horizontal
  > .ant-menu-submenu-selected:hover {
  background-color: transparent;
}

.ant-menu-dark.ant-menu-submenu-popup > .ant-menu {
  background-color: #0c1312 !important;
}

.mind-input .ant-input-outlined,
.mind-input .ant-input-outlined:hover,
.mind-input .ant-input-outlined:focus,
.mind-input .ant-input-outlined:focus-within {
  background: #181818;
  border: var(--border-width) solid var(--btn-border);
  border-radius: 10px;
  color: var(--mind-brand);
}

.mind-input .ant-input-outlined::placeholder {
  color: var(--mind-grey);
}

.text-light-shadow {
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0, 255, 177, 0.6);
}
